@import "../palette/palette";
@import "../devices/media_query";

$colors: color(base,pink), color(base,bright-blue);
$max: length($colors);
$dash: 30;
$dash-gap: 15;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 10s;
$time-step: $time/$max;

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.title-text {
    font-size: 5vmin;

    fill: color(base,blue);
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-dasharray: $dash $dash-space;
    stroke-dashoffset: 0;
    -webkit-animation: stroke $time infinite linear;
    animation: stroke $time infinite linear;

    @for $item from 1 through $max {
        &:nth-child(#{$max}n + #{$item}) {
            $color: nth($colors, $item);
            stroke: $color;
            -webkit-animation-delay: -($time-step * $item);
            animation-delay: -($time-step * $item);
        }
    }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}
