@import "palette/palette";
@import "components/hero";

@font-face {
    font-family: Quantum;
    src: url(../fonts/Quantum.otf);
  }
  

*, *::after, *::before {
    margin: 0;
    font-family: Quantum;
}

.App {
    background-color: color(base, night-blue);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}